* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#canvasBubbles {
  width: 100%;
  height: 50vh;
  border: 3px solid black;
}
#canvasBubbles2 {
  width: 100%;
  height: 50vh;
  border: 3px solid black;
}
